doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")

        link(href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180")
        link(type="image/png" href="/favicon-32x32.png" rel="icon" sizes="32x32")
        link(type="image/png" href="/favicon-16x16.png" rel="icon" sizes="16x16")
        link(href="/site.webmanifest" rel="manifest")
        title Movies REST API
    body.m-0.p-0
        h1.h2.m-5 Babbies Exercies - CRUD-able REST API
        h2.h4.m-2 Usage and general information is provided for each action:

        section.modal-content.container.m-5.p-5
            .modal-content.row.align-items-center.justify-content-center.align-self-center.m-5.p-5
                form(method='GET' action='/about')
                    legend
                        | Usage: &quot;base-url&quot;/about
                        br
                        | Method: GET
                        br
                        | Description: Provides basic information about the API in a json format
                    button.btn.btn-primary(type='submit') About

            .modal-content.row.align-items-center.justify-content-center.align-self-center.m-5.p-5
                form(method='GET' action='/about/web-gui')
                    legend
                        | Usage: &quot;base-url&quot;/about/web-gui
                        br
                        | Method: GET
                        br
                        | Description: &#40;this page&#41; Render a view providing a GUI to allow the user to access the functionality in a browser
                    button.btn.btn-primary(type='submit') About - Web-GUI

            .modal-content.row.align-items-center.justify-content-center.align-self-center.m-5.p-5
                form(method='GET' action='/movies')
                    legend
                        | Usage: &quot;base-url&quot;/movies
                        br
                        | Method: GET
                        br
                        | Description: Provides the entire movies list
                    button.btn.btn-primary(type='submit') GET All Movies

            .modal-content.row.align-items-center.justify-content-center.align-self-center.m-5.p-5
                form(method='GET' action='/movie')
                    legend
                        | Usage: &quot;base-url&quot;/movie
                        ol Parameters:
                            li id - number, required
                        | Method: GET
                        br
                        | Description: Provides a specific movie from the list &#40;&quot;id&quot; is required&#41;
                    .m-auto.mb-3
                        label.form-label(for='getSpecMovie') Select movie ID
                        input#getSpecMovie.form-control(name='id' type='number' min='0' max=`${maxID}` placeholder="Movie ID..." required)
                    button.btn.btn-primary(type='submit') GET Movie

            .modal-content.row.align-items-center.justify-content-center.align-self-center.m-5.p-5
                form(method='POST' action='/movies/add')
                    legend
                        | Usage: &quot;base-url&quot;/movies/add
                        ol Parameters:
                            li id - number, required
                            li title - string, required
                            li year - number, required
                            li category - string, required
                            li rating - string, required
                        | Method: POST
                        br
                        | Description: Adds a movie to the list &#40;all parameters are required&#41;
                    .m-auto.mb-3
                        label.form-label(for='postTitle') Input Movie Title
                        input#postTitle.form-control(name='title' type='text' placeholder='Rick and Morty...' required)
                    .m-auto.mb-3
                        label.form-label(for='postYear') Input Movie Year
                        input#postYear.form-control(name='year' type='number' min=`1900` max=`${maxYear}` placeholder='2019...' required)
                    .m-auto.mb-3
                        label.form-label(for='postCategory') Input Movie Category
                        input#postCategory.form-control(name='category' type='text' placeholder='Quirky...' required)
                    .m-auto.mb-3
                        label.form-label(for='postRating') Input Movie Rating
                        input#postRating.form-control(name='rating' type='text' placeholder='16+...' required)
                    button.btn.btn-primary(type='submit') POST Movie

            .modal-content.row.align-items-center.justify-content-center.align-self-center.m-5.p-5
                form(method='PUT' action='/movies/edit')
                    legend
                        | Usage: &quot;base-url&quot;/movies/edit
                        ol Parameters:
                            li id - number, required
                            li title - string
                            li year - number
                            li category - string
                            li rating - string
                        | Method: PUT
                        ol
                            li defaults to GET in HTML form
                            li requires the server to rute specific POST requests to PUT method if to be called from a POST HTML form
                        | Description: Modify the information of a specific movie in the list &#40;&quot;id&quot; is required&#41;
                    .m-auto.mb-3
                        label.form-label(for='putSpecMovie') Select movie ID
                        input#putSpecMovie.form-control(name='id' type='number' min='0' max=`${maxID}` placeholder="69..." required)
                    .m-auto.mb-3
                        label.form-label(for='putTitle') Input Movie Title
                        input#putTitle.form-control(name='title' type='text' placeholder='Rick and Morty...')
                    .m-auto.mb-3
                        label.form-label(for='putYear') Input Movie Year
                        input#putYear.form-control(name='year' type='number' min=`1900` max=`${maxYear}` placeholder='2019...')
                    .m-auto.mb-3
                        label.form-label(for='putCategory') Input Movie Category
                        input#putCategory.form-control(name='category' type='text' placeholder='Quirky...')
                    .m-auto.mb-3
                        label.form-label(for='putRating') Input Movie Rating
                        input#putRating.form-control(name='rating' type='text' placeholder='16+...')
                    button.btn.btn-primary(type='submit') PUT Movie

            .modal-content.row.align-items-center.justify-content-center.align-self-center.m-5.p-5
                form(method='DELETE' action='/movies/delete')
                    legend
                        | Usage: &quot;base-url&quot;/movies/delete
                        ol Parameters:
                            li id - number, required
                        | Method: DELETE
                        ol
                            li defaults to GET in HTML form
                            li requires the server to rute specific POST requests to DELETE method if to be called from a POST HTML form
                        | Description: Removes a movie from the list &#40;&quot;id&quot; is required&#41;
                    .m-auto.mb-3
                        label.form-label(for='deleteSpecMovie') Select movie ID
                        input#deleteSpecMovie.form-control(name='id' type='number' min='0' max=`${maxID}` placeholder="Movie ID..." required)
                    button.btn.btn-primary(type='submit') DELETE Movie

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
